<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <!-- Compiled and minified CSS -->
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>
   <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Create Purchase Order</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <br>
	<div class="row">
    	<form class="col s12" action="/create_purchase_order" method="POST">
	      <div class="row">
	        <div class="input-field col s4">
	          <select name="vendor">
	          	{% for vendor in vendors %}
	          		<option value="{{vendor.id}},{{vendor.part}}">{{vendor.part}}</option>
	          	{% endfor %}
			  </select>
	          <label for="vendor">Vendor</label>
	        </div>
	       	<div class="input-field col s6">
	       	  <i class="material-icons prefix">attach_money</i>
	          <input name="number_of_units" id="number_of_units" type="number" class="validate">
	          <label for="number_of_units">Number of Units to Purchase</label>
	        </div>
	      </div>
	      <button class="btn waves-effect waves-light" type="submit">Submit
		    <i class="material-icons right">send</i>
		  </button>
    	</form>
  	</div>
</body>
</html>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>