<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <!-- Compiled and minified CSS -->
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>
   <div class="navbar-fixed">
	    <nav>
	      <div class="nav-wrapper">
	        <a class="brand-logo">Employees</a>
	        <ul class="right hide-on-med-and-down">
	          <li><a href="/">Home</a></li>
	        </ul>
	      </div>
	    </nav>
    </div>
    <div class="row">
     <table class="striped">
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address Line 1</th>
              <th>Address Line 2</th>
              <th>City</th>
              <th>State</th>
              <th>Zip Code</th>
              <th>SSN</th>
              <th># of Witholdings</th>
              <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
	          <tr>
	          	<td>{{employee.first_name}}</td>
	          	<td>{{employee.last_name}}</td>
	          	<td>{{employee.address_line_1}}</td>
	          	<td>{{employee.address_line_2}}</td>
	          	<td>{{employee.city}}</td>
	          	<td>{{employee.state}}</td>
	          	<td>{{employee.zip_code}}</td>
	          	<td>{{employee.social_security_number}}</td>
	          	<td>{{employee.number_of_witholdings}}</td>
	          	<td>{{employee.salary}}</td>
	          </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
</body>
</html>